@media (min-width: 768px) {
    body {
        padding: 70px 0 0 0;
    }
}

#forkme {
    background:  url(/CalendR/img/forkme.png);
    display:     block;
    height:      149px;
    overflow:    hidden;
    position:    fixed;
    right:       0;
    text-indent: -3000px;
    top:         0;
    width:       149px;
    z-index:     1030;
}

#view-on-github {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width:      100%;
}

.nav li.dropdown ul.dropdown-menu li:hover ul {
    display:block;
    position:absolute;
    left:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nav li.dropdown ul.dropdown-menu ul {
    display: none;
    float:right;
    position: relative;
    top: auto;
    margin-top: -30px;
}
.nav li.dropdown ul.dropdown-menu .dropdown-menu::before {
    content: '';
    display: inline-block;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right:7px solid #CCC;
    border-right-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 9px;
    left: -14px;
}

.nav li.dropdown ul.dropdown-menu .dropdown-menu::after {
    content: '';
    display: inline-block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right:6px solid white;
    position: absolute;
    top: 10px;
    left: -12px;
}

.dropdown-menu .namespace > a {
    color: #888;
    font-weight: bold;
}

.popover {
    z-index: 2000;
}

h1 .class-info {
    display: inline-block;
}

h1 .class-info small {
    display: block;
    line-height: 1.1em;
}

.class-desc
{
    margin-top: 20px;
}

.label-hint a {
    color: white;
    text-shadow: none;
}

code.heading-code {
    color: #433;
    display: block;
    margin: 50px 0 20px 0;
    padding: 4px 10px;
    width: 100%;
}

table.method-detail th {
    width: 20%;
}

table table:not(.table) td {
    border: none;
}

.method-details {
    width: 97%;
    margin-left: 3%;
}

#footer {
    background: #eee;
    border-top: 1px solid #999;
    margin: 60px 0 0 0;
    padding: 40px 0;
    text-align: center;
}

@media (max-width: 767px) {
    #footer {
        margin: 60px -20px 0 -20px;
        padding: 40px 20px;
    }
}

#share-buttons {
    margin: 10px 0;
    text-align: center;
}

.doc-pages h2 {
    margin: 60px 0 20px 0;
    border-bottom: 1px solid #EEE;
}

.doc-pages h3 {
    color:  #666;
    margin: 30px 0 0 0;
}
