language: php
sudo: false
php:
    - 8.1

before_install:
  - echo "error_reporting = E_ALL & ~E_DEPRECATED" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer self-update

install:
    - if [ "$dependencies" = "lowest" ]; then COMPOSER_MEMORY_LIMIT=-1 composer update --prefer-lowest --no-interaction; fi
    - if [ "$dependencies" = "highest" ]; then COMPOSER_MEMORY_LIMIT=-1 composer update --no-interaction; fi

script:
  - XDEBUG_MODE=coverage ./vendor/bin/phpunit --coverage-text

env:
    matrix:
        - dependencies=lowest
        - dependencies=highest
